/* with css reset */
* { box-sizing: border-box; }
table { 
    margin-top: 5%;
    margin-bottom: 2%;
}
tr:first-child td {
	border-top-color: black;
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 2px solid lightgrey;
	height: 40px;
	width: 40px;
}
td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
}
input {
	padding: 0;
	text-align: center;
	border: 0;
	height: 40px;
	width: 40px;
	text-align: center;
    color: transparent;
    text-shadow: 0 0 0 black;
    font-size: 32px;
}

input:hover {
	background: #ffffff;
}

.disabled-input{
	background-color: #EBEBE4;
}

.disabled-input:hover{
	background-color: #EBEBE4;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

#choose-level{
	margin-bottom: 20px;
}